In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_hdf("Nsubjettiness_RandD.h5")

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2577.571899,98.677270,0.528903,0.788281,0.904471,4.241889,136.0,53.519023,0.668562,0.735745,0.755674,1.895988,128.0,0.0
1,3807.507389,584.595432,0.345626,0.463461,0.865982,1.069972,320.0,405.034096,0.264362,0.793461,0.830032,1.377217,348.0,0.0
2,1710.965414,159.597526,0.677692,0.690707,0.695322,1.310040,332.0,113.768840,0.713481,0.922610,0.782783,1.887494,236.0,0.0
3,2603.379037,515.237299,0.091038,0.784454,0.860716,1.102743,248.0,161.648798,0.727507,0.719564,0.870109,1.997360,352.0,0.0
4,3294.162200,142.420213,0.507714,0.522686,0.904070,1.853319,220.0,105.721163,0.344534,0.614579,0.863765,1.113248,204.0,1.0

In [4]:
data = np.array(pd.read_hdf("Nsubjettiness_RandD.h5"))

In [5]:
for i in range(1,13):
    data[:,i] = (data[:,i]-np.mean(data[:,i]))/np.std(data[:,i])

In [6]:
data = np.column_stack((data[:,0:1],data[:,1:13],data[:,-1:]))

In [7]:
data_pd = pd.DataFrame(data=data)

In [8]:
data_pd.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2577.571899,-0.976388,0.192400,0.641817,1.200904,3.041008,-1.077456,-0.766587,0.535050,0.052229,-0.477091,-0.389245,-0.369270,0.0
1,3807.507389,2.563685,-0.740920,-1.863010,0.758234,-1.093263,0.655803,4.899353,-1.702753,0.529923,0.371827,-0.863170,2.393165,0.0
2,1710.965414,-0.532564,0.950088,-0.110614,-1.204575,-0.780359,0.768841,0.204558,0.783737,1.598838,-0.167597,-0.397005,0.986834,0.0
3,2603.379037,2.058388,-2.037381,0.612310,0.697663,-1.050550,-0.022429,0.976317,0.861395,-0.081694,0.829365,-0.296637,2.443391,0.0
4,3294.162200,-0.657706,0.084494,-1.406301,1.196288,-0.072250,-0.286186,0.074840,-1.258893,-0.950612,0.756936,-1.104320,0.585026,1.0

In [9]:
data_pd.to_hdf("Nsubjettiness_RandD_normalized.h5",key="normalized")

In [12]:
data_norm = pd.read_hdf("Nsubjettiness_RandD_normalized.h5")

In [13]:
data_norm.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2577.571899,-0.976388,0.192400,0.641817,1.200904,3.041008,-1.077456,-0.766587,0.535050,0.052229,-0.477091,-0.389245,-0.369270,0.0
1,3807.507389,2.563685,-0.740920,-1.863010,0.758234,-1.093263,0.655803,4.899353,-1.702753,0.529923,0.371827,-0.863170,2.393165,0.0
2,1710.965414,-0.532564,0.950088,-0.110614,-1.204575,-0.780359,0.768841,0.204558,0.783737,1.598838,-0.167597,-0.397005,0.986834,0.0
3,2603.379037,2.058388,-2.037381,0.612310,0.697663,-1.050550,-0.022429,0.976317,0.861395,-0.081694,0.829365,-0.296637,2.443391,0.0
4,3294.162200,-0.657706,0.084494,-1.406301,1.196288,-0.072250,-0.286186,0.074840,-1.258893,-0.950612,0.756936,-1.104320,0.585026,1.0